
  .header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: solid 2px #D3D3D3
  }
  
  .header__logo {
    color: #DEB887;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    display: block;
  }
  
  .contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
  }
  
  .contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    color: #DEB887;
  }
  
  .form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
  }
  
  .form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  .form__group-content {
    display: flex;
    justify-content: space-between;
    width: 40vw;
  }

  .form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
  }
  
  .form__error {
    height: 20px;
    color: #ff0000;
  }
  
  .form__input--text input,
  .form__input--textarea textarea {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
  
    appearance: none;
  }
  
  .form__input--text input {
    height: 40px;
  }
  
  .form__input--textarea textarea {
    height: 180px;
  }
  
  .form__button {
    margin-top: 30px;
  }
  
  .form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #DEB887;
    color: #fff;
    cursor: pointer;
  }